.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.graphCmsFetcher:global(.__wab_instance) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 8px;
  grid-column-gap: 8px;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  padding: 8px;
}
.hero {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 1024px;
  max-width: 100%;
  top: auto;
  left: auto;
  background: #003327;
  min-width: 0;
  padding: 0px;
}
.freeBox___4PyoA {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 100%;
  left: 0px;
  top: 0px;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.img {
  object-fit: cover;
  max-width: 100%;
  position: absolute;
  width: 100%;
  min-width: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    height: 100%;
    min-height: 0;
  }
}
.contentWrapper {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  margin-bottom: 0rem;
  bottom: auto;
  background: linear-gradient(0deg, #003327 24%, #00332700 100%) 0% 0% / 100%
    100% repeat;
  min-width: 0;
  padding: 0px 0px 9rem;
}
.contentWrapper > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.contentWrapper > :global(.__wab_flex-container) > *,
.contentWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.contentWrapper > :global(.__wab_flex-container) > picture > img,
.contentWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h4__sh8N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.title {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-family: "Great Vibes";
  min-width: 0;
  padding: 8px;
}
.graphCmsField__tSpc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  color: #ffffff;
}
.span {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.date {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.h4__t88Lh {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: #ffffff;
  min-width: 0;
}
.content {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #dde4dd;
  min-width: 0;
  padding: 9rem 0px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text___0KkBo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.detailsPengantin {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  padding: 8px;
}
.detailsPengantin > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.detailsPengantin > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.detailsPengantin > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 24px) * 6 / 12);
}
.detailsPengantin > :global(.__wab_flex-container) > *,
.detailsPengantin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.detailsPengantin > :global(.__wab_flex-container) > picture > img,
.detailsPengantin
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 24px);
    height: calc(100% + 24px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 24px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .detailsPengantin > :global(.__wab_flex-container) > *,
  .detailsPengantin > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .detailsPengantin > :global(.__wab_flex-container) > picture > img,
  .detailsPengantin
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 24px;
  }
}
.column__z3RX {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__z3RX > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__z3RX > :global(.__wab_flex-container) > *,
.column__z3RX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__z3RX > :global(.__wab_flex-container) > picture > img,
.column__z3RX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.title2 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.graphCmsField__sply1:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__s9J8X {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.title4 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  padding: 0px;
}
.graphCmsField__mciE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.text__e5BDj {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.title8 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.graphCmsField__wsjtg:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.title5 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.graphCmsField__is9F:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.column__vcQcb {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__vcQcb > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.column__vcQcb > :global(.__wab_flex-container) > *,
.column__vcQcb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vcQcb > :global(.__wab_flex-container) > picture > img,
.column__vcQcb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.title3 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.graphCmsField__kttZf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__bio5P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.title6 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  text-align: right;
  padding: 0px;
}
.graphCmsField___74HM:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.text__m9T9G {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
}
.title9 {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
}
.graphCmsField__yfFAp:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  width: auto;
}
.title7 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.graphCmsField__y1UpE:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text__i7Ykz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.row {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.date2 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__g6Gpv {
  position: relative;
}
.graphCmsField__pTn3Q:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.pukul {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__xHZo {
  position: relative;
}
.graphCmsField__xcZXy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.alamat {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__vnDf4 {
  position: relative;
}
.graphCmsField__f3SWc:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.outro {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__ko7WV {
  position: relative;
  text-align: center;
}
.h3 {
  position: relative;
  text-align: center;
  padding-top: 2rem;
}
